# Node.js
node_modules/
dist/
dist-ssr/
*.local

# Hardhat
cache/
artifacts/
typechain-types/
coverage/
coverage.json

# Env
.env

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
